{% extends "base.html" %}
{% block title %}about author{% endblock title %}
{% block content %}
<div class="container py-4">
  <h1>Об авторе сайта</h1>
  <article>
    <h3>Меня зовут Максим и данный сайт разрабатывался в учебных целях</h3>
    <h3>В этом проекте использовались такие технологии как:</h3>
    <ul>
      <li>
        Python
      </li>
      <li>
        HTML
      </li>
      <li>
        CSS
      </li>
      <li>
        Sqlite
      </li>
      <li>
        Django
      </li>
      <li>
        ORM
      </li>
    </ul>
  </article>
</div>
{% endblock content %}