{% extends "base.html" %}
{% block title %}about author{% endblock title %}
{% block content %}
<div>
  <h1>Об авторе сайта</h1>
  <article>
    <h3>Меня зовут Максим и данный сайт разрабатывался в учебных целях</h3>
    <h3>В этом проекте использовались такие языки как:</h3>
    <ul>
      <li>
        Python
      </li>
      <li>
        HTML (Hyper Text Markup Lenguage)
      </li>
      <li>
        CSS (Cascading Style Sheets)
      </li>
    </ul>
  </article>
</div>
{% endblock content %}